<p id="notice"><%= notice %></p>

<p class="title">
<%= @ad.title %>
</p>

<p class="price">
  <strong>Price:</strong> $<%= @ad.price %>
</p>

<p>
  <%= @ad.description %>
</p>


<%= image_tag(@ad.image, height:"400") %>

<p>
  <strong>User:</strong> <%= @ad.user_id %>
</p>

<p>
  <strong>Category:</strong>
  <%= @ad.category_id %>
</p>
<% if current_user.id == @ad.user_id %>
<%= link_to 'Edit', edit_ad_path(@ad) %> |
<%= link_to 'Delete', @ad, method: :delete, data: {confirm: 'Are you sure?'} %> |
<% end %>
<%= link_to 'Back', ads_path %>
