<p id="notice"><%= notice %></p>

<p class="title">
<%= @ad.title %>
</p>

<p class="price">
  <strong>Price:</strong> $<%= @ad.price %>
</p>

<p>
  <%= @ad.description %>
</p>

<<<<<<< HEAD
<%= image_tag(@ad.image, height:"400") %>
=======
<p>
  <strong>Image:</strong>
  <%= @ad.image %>
  <%= @ad.image.url(:thumb) %>
</p>
>>>>>>> 54338af3d72659d05cc2be34b3af7426e81c488b

<p>
  <strong>User:</strong> <%= @ad.user_id %>
</p>

<p>
  <strong>Category:</strong>
  <%= @ad.category_id %>
</p>

<%= link_to 'Edit', edit_ad_path(@ad) %> |
<%= link_to 'Back', ads_path %>
